body{
    /* background-color: green;
    
    background-image: none; */
}

img.img-home {
    max-width: 250px;
    max-height: 150PX;
}
img.img-tratamento {
    max-width: 250px;
    max-height: 150PX;
}
table{
margin-left: 35px;    
}