
img.img-responsive {
    width: 250px;
    margin-top: 130px;
}

img.img-home {
    max-width: 250px;
    max-height: 150PX;
}
img.img-tratamento {
    max-width: 250px;
    max-height: 150PX;
}
img.img-extracao {
    max-width: 600px;
    max-height: 250px;
}
table{
    margin-left: 50px;    
}

@media screen and (min-width: 1025px) {
    #menu ul li a {
        padding: 40px 0px;
    }
    img.img-Logo {
        margin-bottom: 20px;
        margin-left: 0px;
    }
}

@media screen and (min-width: 1400px) {
    #menu ul li a {
        padding: 40px 45px;
    }
    img.img-Logo {
        margin-left: 100px;
    }
}

@media screen and (min-width: 1690px) {
    #menu ul li a {
        padding: 40px 90px;
    }
}
