body{
    /* background-color: aqua;
    background-image: none;*/
} 
img.img-home {
    max-width: 200px;
    max-height: 100PX;
}
img.img-tratamento {
    max-width: 200px;
    max-height: 100PX;
}
table{
margin-left: 10px;    
}

@media screen and (min-width: 768px) {
    #menu ul li a {
        padding: 40px 0px;
    }

    img.img-Logo {
        margin-bottom: 20px;
        margin-left: 0px;
    }
}

@media screen and (min-width: 840px) {
    #menu ul li a {
        padding: 40px 0px;
    }

    img.img-Logo {
        margin-bottom: 20px;
        margin-left: 0px;
    }
}

@media screen and (min-width: 900px) {
    #menu ul li a {
        padding: 40px 0px;
    }

    img.img-Logo {
        max-width: 160px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
}
