@using SOS.Dentes.Model;
@using SOS.Dentes.BLL;

<!DOCTYPE html>
<html lang=pt-br>
<head>
    <title></title>
    <meta charset=UTF-8> <!-- ISO-8859-1 -->
    <meta name=viewport content="width=device-width, initial-scale=1.0"> <!-- não se deve travar o zoom-->
    <meta name=description content=""> <!-- 360caracteres, porem com perdas após 160 caracteres-->
    <meta name=keywords content=""> <!-- Opcional -->
    <meta name=author content=''>
    <meta name=application-name content=sosDentes>
    <meta http-equiv="cache-control" content="no-cache" />
    <!-- favicon, arquivo de imagem podendo ser 8x8 - 16x16 - 32x32px com extensão .ico -->
    <link rel="shortcut icon" href="~/recursos/imagens/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/recursos/css/bootstrap.min.css">
    <link href="~/recursos/css/jquery.modal.min.css" rel=stylesheet>

    <!-- CSS PADRÃO -->
    <link href="~/recursos/css/default.css" rel=stylesheet>

    <!-- Telas Responsivas -->
    <link rel=stylesheet media="screen and (max-width:480px)" href="~/recursos/css/style480.css">
    <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="~/recursos/css/style768.css">
    <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="~/recursos/css/style1024.css">
    <link rel=stylesheet media="screen and (min-width:1025px)" href="~/recursos/css/style1025.css">

</head>
<body>
    <div id="corpo">
        <nav id="menu">
            <Ul>
                <li> <img src="~/recursos/imagens/Logo.png" class="img-Logo"></li>
                <li> <a href="index.cshtml">QUEM SOMOS</a> </li>
                <li> <a href="tratamentos.cshtml">TRATAMENTOS</a></li>
                <li> <a href="contato.cshtml">CONTATO <img src="~/recursos/imagens/TEL.jpg"> (+55) 11 4194-5592</a></li>
            </Ul>
        </nav>

        <!-- CORPO: INICIO -->

        <div class="form-list" ; id="cadastro">
            <h2 class="title-mini-with-line"> <span> Informações Pessoais </span> </h2>
            <form method="post">
                <!--
                Este campo (oculto), servirá para destinguir do outro formulario (formulario de contato)
                -->
                <input type="hidden" value="PreCadastro" name="Formulario" />

                <table>

                    <tr>
                        <td>
                            Nome:
                        </td>
                        <td>
                            <input type="text" name="Nome" id="Nome">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            E-mail:
                        </td>
                        <td>
                            <input type="text" name="Email" id="E-mail">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Telefone:
                        </td>
                        <td>
                            <input type="tel" name="Telefone" id="Telefone" class="Telefone">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Celular:
                        </td>
                        <td>
                            <input type="tel" name="Celular" id="Celular" class="Telefone">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="button-set">
                                <button type="submit" title="Enviar" class="button flash-button button-send">
                                    <span>Enviar</span>
                                </button>
                            </div>
                        </td>
                    </tr>

                    <!-- <tr>
                    <td>
                        <input style="margin-right:60px" type="submit"value="  Salvar"/>
                    </td>
                    <td>

                    </td> -->
                    <!-- </tr> -->
                </table>
            </form>

        </div>

        <div class="container-fluid bg-3 text-center">
            <!-- <h3 class="margin">Where To Find Me?</h3><br> -->
            <div class="row" style="max-width: 1200px;">
                <div class="col-sm-4">
                    <form method="post">
                        <!--
                        Este campo (oculto), servirá para destinguir do outro formulario (formulario de pre-cadastro)
                        -->
                        <input type="hidden" value="Contato" name="Formulario" />
                        <h1><a href="~/contato.cshtml">ENTRE EM CONTATO CONOSCO</a></h1>
                        <br>
                        <p>
                            Avalie o nosso site:
                            <input name="Avaliacao" type="radio" value="Ruim">&nbsp; Ruim
                            <input name="Avaliacao" type="radio" value="Regular">&nbsp; Regular
                            <input name="Avaliacao" type="radio" value="Bom">&nbsp; Bom
                            <input name="Avaliacao" type="radio" value="Muito Bom">&nbsp; Muito bom
                        </p>
                        <p>
                            <input type="text" id="txtNome" name="Nome" required placeholder="Nome*" />
                        </p>
                        <p>
                            <input type="tel" id="txtTelefone" name="Telefone" required placeholder="Telefone*"  class="Telefone"/>
                        </p>
                        <p>
                            <input type="email" id="txtEmail" name="Email" required placeholder="E-mail*" />
                        </p>
                        <textarea placeholder="Mensagem:*" name="Mensagem" id="mensagem"></textarea>
                        <br />
                        <input style="margin-left:60px" type="submit" value=" -> Enviar" />
                        <input type="reset" value="limpar" />
                        <input type="button" value="Cadastre-se" id="btnCadastro" />
                    </form>
                </div>
                <div class="col-sm-4">
                    <img src="~/recursos/imagens/end.png" class="img-responsive margin center-block" alt="Image" />
                </div>
                <div class="col-sm-4">
                    <img src="~/recursos/imagens/mapa.png" class="img-responsive margin center-block" alt="Image" usemap="#Localizacao" />
                    <map name="Localizacao">
                        <area shape="rect" coords="55,110,190,155" alt="R. Margarida Galvão, 130 - Jardim Silveira, Barueri - SP, 06434-110" href="https://goo.gl/maps/r2RMwZ9LG8N2" target="_blank" />
                    </map>
                </div>
            </div>
        </div>

        <!-- CORPO: FIM -->

        <div id="rodape">
            <h2>
                ESTAMOS  TAMBÉM NO <a href="#facebook"> FACEBOOK <img src="~/recursos/imagens/facebook.png" class="img-social" /> </a>
                & <a href="#instagram"> INSTAGRAM <img src="~/recursos/imagens/inst.png" class="img-social" /> </a>
            </h2>
        </div>
    </div>
    <script src="~/recursos/js/jquery.min.js"></script>
    <script src="~/recursos/js/bootstrap.min.js"></script>
    <script src="~/recursos/js/jquery.modal.min.js"></script>
    <script src="~/recursos/js/jquery.mask.min.js"></script>
    <script src="~/recursos/js/site.js"></script>
    @{
        if (Request.HttpMethod == "POST")
        {
            try
            {
                string formulario = Request.Form["Formulario"];
                string nome = Request.Form.AllKeys.Contains("Nome") ? Request.Form["Nome"] : string.Empty;
                string email = Request.Form["Email"];
                string telefone = Request.Form["Telefone"];
                string celular = Request.Form["Celular"];
                string avaliacao = Request.Form["Avaliacao"];
                string mensagem = Request.Form["Mensagem"];

                if (formulario == "PreCadastro")
                {
                    PreCadastro modelPreCadastro = new PreCadastro()
                    {
                        Nome = nome,
                        Email = email,
                        Telefone = telefone,
                        Celular = celular
                    };
                    var preCadastroBll = new PreCadastroBLL();
                    preCadastroBll.create(modelPreCadastro);
                    <script>
                        alert("Cadastro Efetuado!");
                    </script>
                }
                else if (formulario == "Contato")
                {
                    Contato modelContato = new Contato()
                    {
                        Nome = nome,
                        Email = email,
                        Telefone = telefone,
                        Avaliacao = avaliacao,
                        Mensagem = mensagem
                    };
                    var contatoBll = new ContatoBLL();
                    contatoBll.create(modelContato);
                    <script>
                        alert("Mensagem Enviada!");
                    </script>
                }
            }
            catch (Exception ex)
            {
                <script>
                    alert('@ex.Message');
                </script>
            }
        }
    }
</body>
</html>
