
<!DOCTYPE html>
<html lang=pt-br>
<head>
    <title></title>
    <meta charset=UTF-8> <!-- ISO-8859-1 -->
    <meta name=viewport content="width=device-width, initial-scale=1.0"> <!-- não se deve travar o zoom-->
    <meta name=description content=""> <!-- 360caracteres, porem com perdas após 160 caracteres-->
    <meta name=keywords content=""> <!-- Opcional -->
    <meta name=author content=''>
    <meta name=application-name content=sosDentes>
    <meta http-equiv="cache-control" content="no-cache" />
    <!-- favicon, arquivo de imagem podendo ser 8x8 - 16x16 - 32x32px com extensão .ico -->
    <link rel="shortcut icon" href="~/recursos/imagens/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/recursos/css/bootstrap.min.css">
    <link href="~/recursos/css/jquery.modal.min.css" rel=stylesheet>

    <!-- CSS PADRÃO -->
    <link href="~/recursos/css/default.css" rel=stylesheet>

    <!-- Telas Responsivas -->
    <link rel=stylesheet media="screen and (max-width:480px)" href="~/recursos/css/style480.css">
    <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="~/recursos/css/style768.css">
    <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="~/recursos/css/style1024.css">
    <link rel=stylesheet media="screen and (min-width:1025px)" href="~/recursos/css/style1025.css">
</head>
<body>
    <div id="corpo">
        <nav id="menu">
            <Ul>
                <li> <img src="~/recursos/imagens/Logo.png" class="img-Logo"></li>
                <li> <a href="index.cshtml">QUEM SOMOS</a> </li>
                <li> <a href="tratamentos.cshtml">TRATAMENTOS</a></li>
                <li> <a href="contato.cshtml">CONTATO <img src="~/recursos/imagens/TEL.jpg"> (+55) 11 4194-5592</a></li>
            </Ul>
        </nav>

        <!-- CORPO: INICIO -->


        <table>
            <tr>
                <td colspan="3">
                    <h2>BEM VINDO A CLÍNICA S.O.S DENTES</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/recursos/imagens/apresentaçao1.jpg" class="img-home" />
                </td>
                <td colspan="2">
                    <p>
                        A Clínica S.O.S Dentes é uma empresa especializada em Odontologia,
                        fundada  em 2013, contamos com profissionais qualificados, com o
                        intuito de proporcionar a seus pacientes um tratamento bucal de
                        qualidade, garantindo  saúde e estética de forma integra.
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <h2>ESTRUTURA MODERNA E EQUIPAMENTOS DE PRIMEIRA</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/recursos/imagens/SOS.png" class="img-home" />
                </td>
                <td colspan="2">
                    <img src="~/recursos/imagens/equipamento_materia-01.jpg" class="img-home" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <P>
                        A Clínica S.O.S Dentes oferece um ambiente sofisticado e
                        confortável, valorizando pequenos detalhes para proporcionar
                        segurança aos nossos pacientes.
                    </P>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <h2>O QUE FAZEMOS </h2>
                </td>
            </tr>
            <tr>
                <td colspan="3">

                    <P>
                        Multidisciplinar, nossos profissionais tratam da saúde bucal dos pacientes:
                        <ul style="list-style-type:disc">
                            <li>Odontologia clínica,</li>
                            <li>Endodontista (canal),</li>
                            <li>Limpeza,</li>
                            <li>Ortodontia,</li>
                            <li>Extração.</li>
                        </ul>
                    </P>
                </td>
            </tr>
        </table>

        <!-- CORPO: FIM -->

        <div id="rodape">
            <h2>
                ESTAMOS  TAMBÉM NO <a href="#facebook"> FACEBOOK <img src="~/recursos/imagens/facebook.png" class="img-social" /> </a>
                & <a href="#instagram"> INSTAGRAM <img src="~/recursos/imagens/inst.png" class="img-social" /> </a>
            </h2>
        </div>
    </div>
    <script src="~/recursos/js/jquery.min.js"></script>
    <script src="~/recursos/js/bootstrap.min.js"></script>
    @*<script src="~/recursos/js/jquery.modal.min.js"></script>*@
    <script src="~/recursos/js/jquery.mask.min.js"></script>
    <script src="~/recursos/js/site.js"></script>
</body>
</html>
