
<!DOCTYPE html>
<html lang=pt-br>
<head>
    <title></title>
    <meta charset=UTF-8> <!-- ISO-8859-1 -->
    <meta name=viewport content="width=device-width, initial-scale=1.0"> <!-- não se deve travar o zoom-->
    <meta name=description content=""> <!-- 360caracteres, porem com perdas após 160 caracteres-->
    <meta name=keywords content=""> <!-- Opcional -->
    <meta name=author content=''>
    <meta name=application-name content=sosDentes>
    <meta http-equiv="cache-control" content="no-cache" />
    <!-- favicon, arquivo de imagem podendo ser 8x8 - 16x16 - 32x32px com extensão .ico -->
    <link rel="shortcut icon" href="~/recursos/imagens/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/recursos/css/bootstrap.min.css">
    <link href="~/recursos/css/jquery.modal.min.css" rel=stylesheet>

    <!-- CSS PADRÃO -->
    <link href="~/recursos/css/default.css" rel=stylesheet>

    <!-- Telas Responsivas -->
    <link rel=stylesheet media="screen and (max-width:480px)" href="~/recursos/css/style480.css">
    <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="~/recursos/css/style768.css">
    <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="~/recursos/css/style1024.css">
    <link rel=stylesheet media="screen and (min-width:1025px)" href="~/recursos/css/style1025.css">
</head>
<body>
    <div id="corpo">
        <nav id="menu">
            <Ul>
                <li> <img src="~/recursos/imagens/Logo.png" class="img-Logo"></li>
                <li> <a href="index.cshtml">QUEM SOMOS</a> </li>
                <li> <a href="tratamentos.cshtml">TRATAMENTOS</a></li>
                <li> <a href="contato.cshtml">CONTATO <img src="~/recursos/imagens/TEL.jpg"> (+55) 11 4194-5592</a></li>
            </Ul>
        </nav>

        <!-- CORPO: INICIO -->


        <table>

            <tr>
                <td class="tab-opcao">

                    <h3 target-tab="tab1"><a href="#">Odontologia Clínica</a></h3>
                </td>
                <td rowspan="7" class="tabs-tratamento">
                    <table id="tab1">
                        <tr>
                            <td colspan="2">
                                <h3>Odontologia Clínica</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/recursos/imagens/dentistas.jpg" class="img-tratamento" />
                            </td>
                            <td>
                                <p>
                                    Odontologia Clínica é a especialidade da odontologia responsável pela prevenção,
                                    diagnóstico e tratamento de várias doenças e desordens dos dentes e gengivas. 
                                    A odontologia clínica está muito associada à clínica geral.
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table id="tab2">
                        <tr>
                            <td colspan="2">
                                <h3 target-tab="tab2">Restauração Dental</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/recursos/imagens/restauracao.jpg" class="img-tratamento" />
                            </td>
                            <td>
                                <p>
                                    A restauração é uma forma de fazer com que o dente afetado pela cárie volte à sua forma e sua função normal.
                                    Quando o dentista faz uma restauração, ele primeiro remove a parte do dente que esta deteriorada,
                                    limpa a área atingida e então preenche a cavidade limpa com um material de restauração.

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="margin-left: 0px; max-width: 800px;">
                                    Ao fechar os espaços onde as bactérias podem se infiltrar,
                                    a restauração também ajuda a prevenir uma deterioração posterior.
                                    Os materiais utilizados para as restaurações podem ser ouro, porcelana,
                                    uma resina composta (restauração da cor do dente) e amálgama
                                    (uma liga de mercúrio, prata, cobre, estanho e algumas vezes zinco).

                                </p>
                            </td>
                        </tr>
                    </table>
                    <table id="tab3">
                        <tr>
                            <td colspan="2">
                                <h3 target-tab="tab3">Limpeza</h3>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/recursos/imagens/limpeza.jpg" class="img-tratamento" />
                            </td>
                            <td>
                                <p>
                                    Uma destartarização ou tartarectomia, vulgarmente chamada de limpeza de dentes,
                                    é um procedimento ou tratamento efetuado por um médico dentista ou higienista oral qualificado,
                                    que serve para remover ou tirar o tártaro e a placa bacteriana dos dentes.

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="margin-left: 0px; max-width: 800px;">
                                    Se a placa bacteriana, por si só, é passível de ser removida pela própria pessoa em casa,
                                    através dos métodos normais de higiene oral (escovagem e fio dentário), o mesmo já não se
                                    pode dizer perante a presença de tártaro, pois este adere significativamente aos dentes.
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table id="tab4">
                        <tr>
                            <td colspan="2">
                                <h3 target-tab="tab4">Endodontista (canal)</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/recursos/imagens/canal1.png" class="img-tratamento" />
                            </td>
                            <td>
                                <img src="~/recursos/imagens/canal2.png" class="img-tratamento" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="margin-left: 0px; max-width: 800px;">
                                    Odontologia Clínica é a especialidade da odontologia responsável pela prevenção,
                                    diagnóstico e tratamento de várias doenças e desordens dos dentes e gengivas. 
                                    A odontologia clínica está muito associada à clínica geral.
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table id="tab5">
                        <tr>
                            <td colspan="2">
                                <h3 target-tab="tab5">Ortodontia</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/recursos/imagens/aparelho.jpg" class="img-tratamento" />
                            </td>
                            <td>
                                <p>
                                    A ortodontia é uma especialidade odontológica que corrige a posição dos dentes e dos ossos maxilares,
                                    caso eles estejam posicionados de forma inadequada. Dentes tortos e que não se encaixam corretamente
                                    podem ser difíceis de limpar. Além disso, são capazes até mesmo ocasionar um estresse adicional aos
                                    músculos de mastigação que pode levar a dores de cabeça, síndrome da ATM e dores na região do pescoço,
                                    dos ombros e das costas.

                                </p>
                            </td>
                        </tr>
                    </table>
                    <table id="tab6">
                        <tr>
                            <td td colspan="2">
                                <h3 target-tab="tab6">Extração</h3>
                            </td>
                        </tr>

                        <td>
                            <img src="~/recursos/imagens/Extracao.jpg" class="img-extracao" />
                        </td>

                        <td>
                            <p>
                                A extração de um dente é um processo comum nos consultórios médicos e pelo qual muitas pessoas
                                passam todos os dias. Apesar disso, a extração de dentes é um procedimento que costuma ser a
                                última alternativa dos dentistas e na maioria dos casos é feita apenas para evitar problemas
                                ainda mais graves, como o nascimento de dentes desalinhados, no caso de crianças, e até a
                                formação de cistos e tumores.

                            </p>
                        </td>

                    </table>
                </td>
            </tr>
            <tr>
                <td class="tab-opcao">
                    <h3 target-tab="tab2"><a href="#"> Restauração </a></h3>
                </td>
            </tr>
            <tr>
                <td class="tab-opcao">
                    <h3 target-tab="tab3"><a href="#"> Limpeza </a></h3>
                </td>
            </tr>
            <tr>
                <td class="tab-opcao">
                    <h3 target-tab="tab4"><a href="#">Endodontista (canal)</a></h3>
                </td>
            </tr>
            <tr>
                <td class="tab-opcao">
                    <h3 target-tab="tab5"><a href="#">Ortodontia</a></h3>
                </td>
            </tr>
            <tr>
                <td class="tab-opcao">
                    <h3 target-tab="tab6"><a href="#"> Extração</a></h3>
                </td>
            </tr>
        </table>

        <!-- CORPO: FIM -->

        <div id="rodape">
            <h2>
                ESTAMOS  TAMBÉM NO <a href="#facebook"> FACEBOOK <img src="~/recursos/imagens/facebook.png" class="img-social" /> </a>
                & <a href="#instagram"> INSTAGRAM <img src="~/recursos/imagens/inst.png" class="img-social" /> </a>
            </h2>
        </div>
    </div>
    <script src="~/recursos/js/jquery.min.js"></script>
    <script src="~/recursos/js/bootstrap.min.js"></script>
    <script src="~/recursos/js/jquery.modal.min.js"></script>
    <script src="~/recursos/js/jquery.mask.min.js"></script>
    <script src="~/recursos/js/site.js"></script>
</body>
</html>
